<div class="products-product <%= is_active_produt(product.id) %> product-<%= product.id %>">

  <%= link_to product.name, product_url(product), class: 'products-product-heading' %>

  <% if product.product_photos.first %>

    <%= link_to image_tag(product.product_photos.first.image.url(:medium), class: 'products-product-image'), product_url(product), class: 'products-product-link' %>

  <% end %>

  <div class="products-product-details">

    Price $<%= proffit_point(product.product_details.where(name: 'price').as_json[0]['value']) %>

    <% if product.product_details.where(name: 'suggested_retail').as_json[0] && product.product_details.where(name: 'suggested_retail').as_json[0]['value'].to_f > proffit_point(product.product_details.where(name: 'price').as_json[0]['value'])  %>

      <span class="products-product-details-item mod-msrp">$<%= product.product_details.where(name: 'suggested_retail').as_json[0]['value'] %></span>

    <% end %>

    <div>

      <%= form_tag url_for(:controller => 'products', :action => 'send_product_to_site'), :method => 'post', remote: true do |f| %>

        <%#= select_tag 'site_id', options_from_collection_for_select(@sites, 'id', 'name') %>

        <%= hidden_field_tag 'site_id', @site.id %>

        <%= hidden_field_tag 'product_id', product.id %>

        <%= submit_tag('Add to site') %>

      <% end %>

    </div>

  </div>

</div>
