<header>

  <nav class="header-nav">

    <div class="nav-left">

      <%= link_to 'Home', root_url %>

      <span class="nav-item">|</span>

      <%= link_to 'Categories', categories_url, data: {toggle: 'categories-mega-menu'} %>

      <span class="nav-item">|</span>

      <%= link_to 'Brands', brands_url, data: {toggle: 'brands-mega-menu'} %>

      <span class="nav-item">|</span>

      <%= link_to 'About Us', root_url %>

      <span class="nav-item">|</span>

      <%= link_to 'Contact Us', root_url %>

    </div>

    <div class="nav-right">

      <% if current_user %>

        <%= render '/templates/user_nav' %>

      <% else %>

        <span class="nav-item"><%= link_to "Sign Up", new_user_registration_path %></span>

        <span class="nav-item">|</span>

        <span class="nav-item"><%= link_to "Login", new_user_session_path %></span>

      <% end %>

      <div class="nav-item-right mod-cart">

        <span class="nav-item">|</span>

        <%= link_to 'Cart', root_url, data: {toggle: 'cart'} %>

        (<span data-cart-count><%= cartCount() %></span>)

       <div class="cart-container" data-cart-target data-target="cart">

         <% if @cart && @cart.cart_items.count > 0 %>

           <%= render '/templates/cart' %>

         <% end %>

       </div>

     </div>

    </div>

  </nav>

  <div class="header-nav-item mod-categories-mega" data-target="categories-mega-menu">

    <%= link_to 'View All Categories...', categories_url, class: 'categories-mega-item' %>

    <% @categories.each do |category| %>

      <%= link_to category.name, category_url(category), class: 'categories-mega-item' %>

    <% end %>

  </div>

  <div class="header-nav-item mod-categories-mega" data-target="brands-mega-menu">

    <%= link_to 'View All Brands...', brands_url, class: 'categories-mega-item' %>

    <% @brands.each do |brand| %>

      <%= link_to brand.name, brand_url(brand), class: 'categories-mega-item' %>

    <% end %>

  </div>

</header>
