<body class="<%= params['controller'] %>-page <%= params['controller'] + '-' + params['action'] %>-page">

  <header>

    <nav>

      <span><%= link_to 'Admin Home', admin_index_path %></span>

      <span><%= render '/templates/user_nav' %></span>

    </nav>

  </header>

  <main>

    <% if @site %>

      <%= link_to 'Brands', admin_brands_path(@site) %>

      | <%= link_to 'Categories', admin_categories_path(@site) %>

    <% end %>

    <div class="admin-body">

      <div class="admin-body-categories">

        <%= form_tag url_for(:controller => 'categories', :action => 'send_category_to_site'), :method => 'post', remote: true do |f| %>

          <%= hidden_field_tag 'site_id', @site.id %>

          Category

          <%= select_tag 'category_id', options_from_collection_for_select(@categories, 'id', 'name') %>

          <%= submit_tag('Add to site') %>

        <% end %>

      </div>

      <div calss="admin-body-categories-sites-categories">

        <% @site_categories.each do |category| %>

          <div><%= category.name %></div>

        <% end %>

      </div>

    </div>


  </main>

</body>
