<body class="<%= params['controller'] %>-page <%= params['controller'] + '-' + params['action'] %>-page">

  <%#= params %>

  <header>

    <nav>

      <span><%= link_to 'Admin Home', admin_index_path %></span>

      <span><%= render '/templates/user_nav' %></span>

    </nav>

  </header>

  <main>

    <%= render 'admin_header' %>

    <div class="admin-body">

      <table>

        <tr>

          <th>Id</th>

          <th>Amount</th>

          <th>Link</th>

        </tr>

        <% @transactions.each do |transaction| %>

          <tr>

            <td><%= transaction.id %></td>

            <td><%= number_to_currency(transaction.amount.to_d * 0.01) %></td>

            <td><%= link_to "Transaction", transaction_path(transaction) %></td>

          </tr>

        <% end %>

      </table>

      <table>

        <% @sites.each do |site| %>

          <tr>

            <td><%= link_to 'View Site', site_path(site) %> </td>

            <td><%= link_to 'Edit Site', admin_sites_path(site) %> </td>

            <td><%= link_to 'Out Link', 'http://www.' + site.name %></td>

            <td>

              <%= form_for site do |f| %>

                <%= f.text_field :name %>

                <%= f.submit %>

              <% end %>

            </td>

          </tr>

        <% end %>

        <tr>

          <td></td>

          <td></td>

          <td>New Site</td>

          <%= form_for @new_site do |f| %>

            <td>

              <%= f.text_field :name %>

              <%= f.submit %>

            </td>

          <% end %>

        </tr>

      </table>

    </div>

    <div class="admin-body-search">

      <%= search_form_for @search, url: request.original_url do |f| %>

        <%= f.label :name_cont, " Search" %>

        <%= f.text_field :name_cont %>

        <%= f.submit "submit" %>

      <% end %>

    </div>

    <%= render '/templates/products' %>

    <%= will_paginate @products %>

  </main>

</body>
