<body class="<%= params['controller'] %>-page <%= params['controller'] + '-' + params['action'] %>-page">

  <%#= params %>

  <header>

    <nav>

      <span><%= link_to 'Admin Home', admin_index_path %></span>

      <span><%= render '/templates/user_nav' %></span>

    </nav>

  </header>

  <main>

    <%= render 'admin_header' %>

    <div class="admin-body">

      <table>

        <tr>

          <th>Id</th>

          <th>Amount</th>

          <th>Link</th>

        </tr>

        <% @transactions.each do |transaction| %>

          <tr>

            <td><%= transaction.id %></td>

            <td><%= number_to_currency(transaction.amount.to_d * 0.01) %></td>

            <td><%= link_to "Transaction", transaction_path(transaction) %></td>

          </tr>

        <% end %>

      </table>

      <table>

        <% @sites.each do |site| %>

          <tr>

            <td><%= link_to 'View Site', site_path(site) %> </td>

            <td><%= link_to 'Edit Site', admin_sites_path(site) %> </td>

            <td><%= link_to 'Out Link', 'http://www.' + site.name %></td>

            <td>

              <%= form_for site do |f| %>

                <%= f.text_field :name %>

                <%= f.submit %>

              <% end %>

            </td>

            <td>

              <% if site.site_details.where(name: 'title')[0] %>

                <% title = site.site_details.where(name: 'title')[0] %>

                <%= form_for [site, title] do |f| %>

                  <%= f.label :title %>
                  <%= f.text_field :value %>
                  <%= f.submit %>

                <% end %>


              <% else %>

                <%= form_for([site, site.site_details.build]) do |f| %>

                  <%= f.hidden_field :name, value: 'title' %>

                  <%= f.label :title %>
                  <%= f.text_field :value %>
                  <%= f.submit %>

                <% end %>

              <% end %>

            </td>

          </tr>

        <% end %>

        <tr>

          <td></td>

          <td></td>

          <td>New Site</td>

          <%= form_for @new_site do |f| %>

            <td>

              <%= f.text_field :name %>

              <%= f.submit %>

            </td>

          <% end %>

        </tr>

      </table>

    </div>

  </main>

</body>
