<header>

  <nav>

    <span><%= link_to 'Admin Home', admin_index_path %></span>

    <span><%= render '/templates/user_nav' %></span>

  </nav>

</header>

<main>

  <div class="admin-body">

    <table>

      <% @sites.each do |site| %>

        <tr>

          <td><%= link_to 'View', site_path(site) %></td>

          <td><%= link_to 'Site', admin_sites_path(site) %></td>

          <td><%= link_to 'Out Link', 'http://www.' + site.name %> </td>

          <td>

            <%= form_for site do |f| %>

              <%= f.text_field :name %>

              <%= f.submit %>

            <% end %>

          </td>

        </tr>

      <% end %>

      <tr>

        <td></td>

        <td></td>

        <td>New Site</td>

        <%= form_for @new_site do |f| %>

          <td>

            <%= f.text_field :name %>

            <%= f.submit %>

          </td>

        <% end %>

      </tr>

    </table>

    <hr />

    <div class="admin-body-search">

      <%= search_form_for @search, url: request.original_url do |f| %>

        <%= f.label :name_cont, " Search" %>

        <%= f.text_field :name_cont %>

        <%= f.submit "submit" %>

      <% end %>

    </div>

    <hr />

    <%= render '/templates/admin_products' if @site %>

    <%= will_paginate @products  if @site%>

  </div>


</main>
