<main class="login">

  <div class="login-body">

    <%= form_for(:user, :url => session_path(:user)) do |f| %>

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <div class="login-body-form-checkbox"><%= f.check_box :remember_me %></div>

      <%= f.label :remember_me %>

      <%= f.submit 'Sign in' %>

      <%= link_to "Forgot your password?", new_password_path(:user) %>

    <% end %>

  </div>

</div>
