<body class="<%= params['controller'] %>-page <%= params['controller'] + '-' + params['action'] %>-page">

  <%#= params %>

  <header>

    <nav>

      <span><%= link_to 'Admin Home', admin_index_path %></span>

      <span><%= render '/templates/user_nav' %></span>

    </nav>

  </header>

  <main>

    <%= render 'admin_header' %>

    <div class="admin-body-search">

      <%= search_form_for @search, url: request.original_url do |f| %>

        <%= f.label :name_cont, " Search" %>

        <%= f.text_field :name_cont %>

        <%= f.submit "submit" %>

      <% end %>

    </div>

    <%= sort_link(@search, :name) %>

    <%= sort_link(@search, :ebay_count) %>

    <%= sort_link(@search, :comp_ebay_count) %>

    <%= render '/templates/admin_products' %>

    <%= will_paginate @products %>

  </main>

</body>
