<body class="<%= params['controller'] %>-page <%= params['controller'] + '-' + params['action'] %>-page">

  <%#= params %>

  <header>

    <nav>

      <span><%= link_to 'Admin Home', admin_index_path %></span>

      <span><%= render '/templates/user_nav' %></span>

    </nav>

  </header>

  <main>

    <%= render 'admin_header' %>

    <%= render '/templates/admin_products' %>

    <%= will_paginate @products %>

  </main>

</body>
