<%= render '/templates/header' %>

<main>

  <div class="carousel">

    <div class="carousel-slide mod-one"><%= image_tag 'banner-1.jpg' %></div>

  </div>

  <section class="main">

    <% unless @paginated %>

      <h2>Top Brands</h2>

      <div class="brands">

        <% @brands.each do |brand| %>

          <a class="brands-brand" href="<%= brand_url(brand) %>">

            <div class="brands-brand-name"><%= brand.name %></div>

            <% if brand.logo %>

              <div class="brands-brand-image"><%= image_tag(brand.logo, class: 'brands-brand-image-img') %></div>

            <% end %>

          </a>

        <% end %>

      </div>

      <hr />

      <h2>Top Categories</h2>

      <div class="categories">

        <% @categories.each do |category| %>

          <%= render '/templates/category_products', product: category_product(category), category: category  %>

        <% end %>

      </div>

      <hr />

      <h2>Top Adult Products</h2>

    <% end %>

    <%= render '/templates/products' %>

    <% if @paginated %>

      <%= will_paginate @products %>

    <% else %>

      <div class='paginate-link'><%= link_to 'More', '/products/page/1/', class: 'button' %></div>

    <% end %>

  </section>

</main>

<%= render 'templates/footer' %>
