<%= render 'templates/header' %>

<main>

  <div class='product'>

    <div class="product-details">

      <h1><%= @product.name %></h1>

      <h2 class="product-details-item mod-brand"><%= product_detail('brand') %> - <%= product_detail('features') %></h2>

      <div class="product-details-item mod-description"><%= raw product_detail('description') %></div>

      <p><strong>Width/Diameter:</strong> <%= product_detail('width_or_diameter') %> | <strong>Length:</strong> <%= product_detail('length') %> | <strong>Weight:</strong> <%= product_detail('weight') %></p>

      <div class="product-details-controlls">

        <%= link_to 'Add to Cart', {controller: 'cart_items', action: "create", product_id: @product.id}, :method => :post, remote: true %>

      </div>

    </div>

    <div class="product-images">

      <%= image_tag(product_detail('image'), class: 'products-product-image') %>

    </div>

  </div>

  <div class="product-sidebar">

    sidebar

  </div>

</main>

<%= render 'templates/footer' %>
