<%= render 'templates/header' %>

<main>

  <div class='product'>

    <div class="product-details">

      <h1><%= @product.name %></h1>

      <h2 class="product-details-item mod-brand"><%= product_detail('brand') %> - <%= product_detail('features') %></h2>

      <div class="product-details-item mod-description"><%= raw product_detail('description') %></div>

      <p><strong>Width/Diameter:</strong> <%= product_detail('width_or_diameter') %> | <strong>Length:</strong> <%= product_detail('length') %> | <strong>Weight:</strong> <%= product_detail('weight') %></p>

      <div class="product-details-controlls">

        <span class="product-details-price">Price $<%= proffit_point(product_detail('price')) %></span>

        <%= link_to 'Add to Cart', {controller: 'cart_items', action: "create", product_id: @product.id}, :method => :post, remote: true %>

      </div>

    </div>

    <div class="product-images">

      <% if @product.product_photos.first %>

        <div class="product-images-image">

          <%= image_tag(@product.product_photos.first.image.url('medium'), class: 'products-product-image') %>

        </div>

        <% if @product.product_photos.second %>

          <div class="product-images-bar">

            <% @product.product_photos.each do |photo| %>

              <div class="product-images-bar-image">

                <%= link_to('', remote: true, class: '', data: {'product-photo' => photo.id}) do %>

                  <%= image_tag(photo.image.url('medium')) %>

                <% end %>

              </div>

            <% end %>

          </div>

          <% end %>

      <% end %>

    </div>

  </div>

  <div class="product-sidebar">

    sidebar

  </div>

</main>

<%= render 'templates/footer' %>
